

/* Just click to select the code */
 
@charset "UTF-8";
 
@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg"),
    url("fonts/untitled-font-1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
 
[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
 
.icon-beer:before {
   content: "1"; 
} 
 
.icon-camera:before {
   content: "2"; 
} 
 
.icon-cart:before {
   content: "3"; 
} 
 
.icon-coffee:before {
   content: "4"; 
} 
 
.icon-face:before {
   content: "5"; 
} 
 
.icon-facebook:before {
   content: "6"; 
} 
 
.icon-home:before {
   content: "7"; 
} 
 
.icon-location:before {
   content: "8"; 
} 
 
.icon-lucha:before {
   content: "9"; 
} 
 
.icon-menu:before {
   content: "a"; 
} 
 
.icon-tree:before {
   content: "b"; 
} 
 
.icon-twitter:before {
   content: "c"; 
}



table {

  margin-top: 20px;
}

td {

  width:333px;
  text-align: center;
}